<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"

	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSPTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	
	
	<!-- 예외 종류에 따른 에러 페이지 지정하기 -->
	<!-- 
	<error-page>
		<exception-type>java.lang.NullPointerException</exception-type>
		<location>/ex30_error_null.jsp</location>
	</error-page>
	
	<error-page>
		<exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type>
		<location>/ex30_error_index.jsp</location>
	</error-page> 
	-->
	
	<error-page>
		<error-code>500</error-code>
		<location>/ex30_error_index.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/ex30_error_null.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.test.mvc.Hello</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/mvc/hello.do</url-pattern>
	</servlet-mapping>

</web-app>













