<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"

	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>JSPTest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


	<!-- 예외 종류에 따른 에러 페이지 지정하기 -->
	<!-- <error-page> <exception-type>java.lang.NullPointerException</exception-type> 
		<location>/ex30_error_null.jsp</location> </error-page> <error-page> <exception-type>java.lang.ArrayIndexOutOfBoundsException</exception-type> 
		<location>/ex30_error_index.jsp</location> </error-page> -->
	<!-- <error-page> <error-code>500</error-code> <location>/ex30_error_index.jsp</location> 
		</error-page> <error-page> <error-code>404</error-code> <location>/ex30_error_null.jsp</location> 
		</error-page> -->


	<servlet>
		<servlet-name>hello</servlet-name>
		<servlet-class>com.test.mvc.Hello</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>hello</servlet-name>
		<url-pattern>/mvc/hello.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	
	<!-- 코드 게시판 -->
	<servlet>
		<servlet-name>template</servlet-name>
		<servlet-class>com.test.code.Template</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>template</servlet-name>
		<url-pattern>/code/template.do</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.test.code.Add</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/code/add.do</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>addok</servlet-name>
		<servlet-class>com.test.code.AddOk</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>addok</servlet-name>
		<url-pattern>/code/addok.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<servlet>
		<servlet-name>list</servlet-name>
		<servlet-class>com.test.code.List</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>list</servlet-name>
		<url-pattern>/code/list.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>view</servlet-name>
		<servlet-class>com.test.code.View</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>view</servlet-name>
		<url-pattern>/code/view.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	
	<servlet>
		<servlet-name>edit</servlet-name>
		<servlet-class>com.test.code.Edit</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>edit</servlet-name>
		<url-pattern>/code/edit.do</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>editok</servlet-name>
		<servlet-class>com.test.code.EditOk</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>editok</servlet-name>
		<url-pattern>/code/editok.do</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>delok</servlet-name>
		<servlet-class>com.test.code.DelOk</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>delok</servlet-name>
		<url-pattern>/code/delok.do</url-pattern>
	</servlet-mapping>

</web-app>













