<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ServletTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ex02</servlet-name>
    <servlet-class>com.test.servlet.Ex02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex02</servlet-name>
    <url-pattern>/ex02.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>gugudan</servlet-name>
    <servlet-class>com.test.servlet.Ex03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gugudan</servlet-name>
    <url-pattern>/gugudan.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ex06</servlet-name>
    <servlet-class>com.test.servlet.Ex06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex06</servlet-name>
    <url-pattern>/ex06.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ex07</servlet-name>
    <servlet-class>com.test.servlet.Ex07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex07</servlet-name>
    <url-pattern>/ex07.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ex07ok</servlet-name>
    <servlet-class>com.test.servlet.Ex07Ok</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex07ok</servlet-name>
    <url-pattern>/ex07ok.do</url-pattern>
  </servlet-mapping>
</web-app>
